* {
    box-sizing: border-box;
}

:root {
    --line-border-fill: #3498db;
    --line-border-empty: #383838; 
  }

  body {
    background-color: #f1f1f1;
    font-family: 'Muli', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin: 0;
  }

h1 {
    text-align: center;
    color: darkblue;
    margin-top: 4rem;
    background-color: blue;
   
}


.main {
    position: relative;
    margin-top: 10rem;
    border: #383838;
    background-color: #3498db;
    z-index: 0;       
}

.card {
    display: none;
    position: absolute;
    z-index: 15;
    transition: opacity 0.5s, transform 0.5s;
    transform: translateX(-100%);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add some shadow for better visibility */
    padding: 20px; /* Optional: Add some padding */
    background-color: rgb(79, 79, 144);
    border-radius: 1.8rem;
    margin-bottom: 1rem;
    height: 25rem;
    width: 20rem;
}

.card.hidden {
    display: none;
}

.card.block {
    display: block;
}



/*  for progress bar */
.container {
  z-index: 15;
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  content: '';
  background-color: var(--line-border-empty);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 100%;
  z-index: -1;
}

.progress {
  background-color: var(--line-border-fill);
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background-color: #f1f1f1;
  color:#e2e2e2;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 6px;
  cursor: pointer;
  font-family: inherit;
  padding: 8px 30px;
  margin: 5px;
  font-size: 14px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:focus {
  outline: 0;
}

.btn:disabled {
  background-color: var(--line-border-empty);
  cursor: not-allowed;
}